body{
    /*background-color: #E8EDEC;*/
    background: #E8EDEC url("../images/45degreee_fabric.png") repeat;
}

h1,label{
    color: #E8EDEC;
}

label{
    font-size: 16px;
}


img {
    /* position: absolute; */
    width: 50%;
    margin-left: 24%;
    margin-top: 15vh;
    /* align-self: center; */
    /* text-align: center; */
    /* margin: 0 auto; */
}

.form-group{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.login {
    background-color: #A04152;
    border-radius: 10px;
    text-align: center;
    margin-top: 10vh;
    width: 50%;
    padding-bottom: 30px;
}



.btn{
    margin-top: 10px;
    background-color: #E8EDEC;
    color: #5d292e;

}

.btn:hover{
    background-color: #b7bcbb;
    color: #5d292e;

}