/*BROWSER RESIZE*/
@media screen and (max-width:767px){
    img {
        width: 80%;
        margin-left: 9%;
        margin-top: 15vh;
    }

    .form-group{
        width:  80%
    }
    .login {
        width: 80%;
    }
    input {
        width: 80%;
    }
    label{
        font-size: 14px;
    }
    .btn {
        width: 80%;
    }
}

