<div class="add-item">
    <h1>Add An Item For Sale</h1>
    <form novalidate name='itemForm' class="form-group add-item-form">

        <div class="form-group add-item-field" ng-class="{ 'has-error' : itemForm.name.$invalid && !itemForm.name.$pristine }">
            <label>Item Name: </label>
            <input type="text" name="name" class="form-control" ng-model="item.name" required>
            <p ng-show="itemForm.name.$invalid && !itemForm.name.$pristine" class="help-block">Item name is required.</p>
        </div>


        <!--<div class="form-group" ng-class="{ 'has-error' : itemForm.url.$invalid && !itemForm.url.$pristine }">-->
            <!--<label>Item URL: </label>-->
            <!--<input type="url" name="url" class="form-control" ng-model="item.url" required>-->
            <!--<p ng-show="itemForm.url.$invalid && !itemForm.url.$pristine" class="help-block">Image URL is required.</p>-->
        <!--</div>-->
        <!--<div class="form-group" ng-class="{'has-error': itemForm.file.$pristine}">-->
            <!--<label>Select File</label>-->
            <!--<input name='file' type="file" ng-model="item.file" required>-->
            <!--<p ng-show="!itemForm.file.$pristine" class="help-block">Image URL is required.</p>-->
        <!--</div>-->

        <!--<div class="form-group" ng-class="{'has-error': itemForm.file.$pristine}">-->
            <!--<label>Select File:</label>-->
            <!--<input type="file" ngf-select ng-model="item.file" name="file"-->
                   <!--accept="image/*" ngf-max-size="2MB" required>-->
            <!--<p ng-show="itemForm.file.$error.required">*required</p><br>-->
            <!--<p ng-show="itemForm.file.$error.maxSize">File too large-->
                <!--{{picFile.size / 1000000|number:1}}MB: max 2M</p>-->
            <!--<img ng-show="itemForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="item.file = null" ng-show="item.file">Remove</button>-->
        <!--</div>-->

        <div class="form-group add-item-field" ng-class="{'has-error': itemForm.file.$pristine}">
            <label>Select File:</label>
            <div  id="selectFile">
                <div ng-hide="itemForm.file.$valid" class="btn btn-default btn-file">
                    Browse... <input type="file" ng-model="file" ngf-select="" name="file" accept="image/*" required="" class="ng-pristine ng-invalid ng-invalid-required">
                </div>
                <p ng-show="itemForm.file.$error.required">*required</p>
                <div  ng-show="itemForm.file.$valid">
                    <img ngf-thumbnail="file" height='40' class="thumb">
                    <button class='btn btn-danger' ng-click="file = null" ng-show="file">Remove</button>
                </div>
            </div>
        </div>

        <div class="form-group add-item-field">
            <label>Gender:</label>
            <div class="radio-inline">
                <input type="radio" name="gender" value="Male" ng-model="item.gender" required>
                <p> Male</p>
            </div>
            <div class="radio-inline">
                <input type="radio" name="gender" value="Female" ng-model="item.gender" required>
                <p> Female</p>
            </div>
            <div class="radio-inline">
                <input type="radio" name="gender" value="Neither/Unisex" ng-model="item.gender" required>
                <p> Neither/Unisex</p>
            </div>

            <!--<p ng-show="itemForm.gender.$pristine" class="help-block">Gender field is required.</p>-->
        </div>

        <div class="add-item-field">
            <label for="type">Type:</label>
            <select class="form-control" id="type" ng-model="item.type" required>
                <optgroup ng-repeat="category in types" label="{{category.name}}">
                    <option ng-repeat="type in category.list" label="{{type}}" value ='{{type}}'></option>
                </optgroup>
            </select>
        </div>

        <div class="add-item-field">
            <label for="size">Size:</label>
            <select class="form-control" id="size" ng-model="item.size" required>
                <optgroup ng-repeat="category in sizes" label="{{category.name}}">
                    <option ng-repeat="size in category.list" label="{{size}}" value ='{{size}}'></option>
                </optgroup>
            </select>
        </div>

        <div class="add-item-field">
            <label>Condition:</label>
            <div class="radio-inline">
                <input type="radio" name="condition" value="Like New" ng-model="item.condition" required>
                <p> Like New</p>
            </div>
            <div class="radio-inline">
                <input type="radio" name="condition" value="Good" ng-model="item.condition" required>
                <p> Good</p>
            </div>
            <div class="radio-inline">
                <input type="radio" name="condition" value="Well Worn" ng-model="item.condition" required>
                <p> Well Worn</p>
            </div>
        </div>


        <div class="form-group add-item-field" ng-class="{ 'has-error' : itemForm.price.$invalid && !itemForm.price.$pristine }">
            <label>Price: </label>
            <input type="number" name="price" class="form-control" ng-model="item.price" required>
            <p ng-show="itemForm.price.$invalid && !itemForm.price.$pristine" class="help-block">Price is required.</p>
        </div>

        <div class="form-group add-item-field">
            <label for="comments">Additional Comments:</label>
            <textarea class="form-control" name="comments" id="comments" ng-model="item.comments"></textarea>
        </div>


        <div class="buttons">
            <button class ='btn btn-primary' type="submit" ng-disabled="itemForm.$invalid" ng-click="ok()">Add Item</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>

