<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Express / Passport</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/loginStyle.css">


</head>
<body>
    <div class="container login">
        <h1 class="lead">Login</h1>
        <form action="/" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
                <a href="/register">Register</a>
            </div>
        </form>
    </div>
</body>
</html>