<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Fuschia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/loginStyle.css">
    <link rel="stylesheet" href="/assets/styles/mobileLoginStyle.css">

    <link rel="icon" href="/assets/images/icon.ico">

</head>
<body>
    <img src="/assets/images/homeIcon.png">
    <div class="container login">
        <h1 class="lead">Login</h1>
        <form action="/" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div>
                <input class='btn' type="submit" value="Log In"/>
                <a class="btn" href="/register">Register</a>
            </div>
        </form>
    </div>
</body>
</html>