<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuschia</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/loginStyle.css">
    <link rel="stylesheet" href="/assets/styles/mobileLoginStyle.css">

    <link rel="icon" href="/assets/images/icon.ico">
</head>
<body>
    <img src="/assets/images/homeIcon.png">
    <div class="container login">
        <h1 class="lead">Register New User</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class='form-control' type="text" name="username" id="username" placeholder="Enter a Username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input class='form-control' type="password" name="password" id="password" placeholder="Enter a Password" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class='form-control' type="email" name="email" id="email" placeholder="Enter your Email Address" required>
            </div>

            <div class="form-group">
                <label for="location">Location:</label>
                <input class='form-control' type="location" name="location" id="location" placeholder="Enter your Location" required>
            </div>

            <input class='btn'  type="submit" value="Register"/>
        </form>
    </div>
</body>
</html>