<!--FILTER SIDEBAR-->
<div id="sidebarFilter" class="col-md-3 col-sm-4 col-xs-12 sidebar">
    <h1 id="sidebarFilterHeader">Filter Items</h1>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Gender <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div class="check-box"><input type="checkbox" value="Male" ng-model="itemFilter.gender['Male']"> Male</div>
            <div class="check-box"><input type="checkbox" value="Female" ng-model="itemFilter.gender['Female']"> Female</div>
            <div class="check-box"><input type="checkbox" value="Neither/Unisex" ng-model="itemFilter.gender['Neither/Unisex']"> Neither/Unisex</div>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Condition <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div class="check-box"><input type="checkbox" value="Like New" ng-model="itemFilter.condition['Like New']"> Like New</div>
            <div class="check-box"><input type="checkbox" value="Good" ng-model="itemFilter.condition['Good']"> Good</div>
            <div class="check-box"><input type="checkbox" value="Well Worn" ng-model="itemFilter.condition['Well Worn']"> Well Worn</div>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Type <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <uib-accordion ng-repeat="category in types">
                <uib-accordion-group  is-open="child.open">
                    <uib-accordion-heading>
                        {{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': child.open, 'glyphicon-chevron-right': !child.open}"></i>
                    </uib-accordion-heading>
                    <div ng-repeat="field in category.list">
                        <div class="check-box"><input type="checkbox" name="{{field}}" value="{{field}}" ng-model="itemFilter.type[field]"> {{field}} </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Size <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <uib-accordion ng-repeat="category in sizes">
                <uib-accordion-group is-open="child.open">
                    <uib-accordion-heading>
                        {{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': child.open, 'glyphicon-chevron-right': !child.open}"></i>
                    </uib-accordion-heading>
                    <div ng-repeat="field in category.list">
                        <div class="check-box"><input type="checkbox" name="{{field}}" value="{{field}}" ng-model="itemFilter.size[field]"> {{field}}</div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>
    <div id="filterButton" class="btn info-button" ng-click="logFilter()">Log Filters</div>
</div>

<div id="boxContainer" class=" col-md-9 col-sm-8 col-xs-12">
    <div class='row' id="sortBox">
        <div class="btn-group" id="itemBtn">
            <label class="btn btn-primary num-btn" ng-model="itemsPerPage" uib-btn-radio="6" ng-click="pageChanged()">6</label>
            <label class="btn btn-primary num-btn" ng-model="itemsPerPage" uib-btn-radio="12" ng-click="pageChanged()">12</label>
            <label class="btn btn-primary num-btn" ng-model="itemsPerPage" uib-btn-radio="24" ng-click="pageChanged()">24</label>
        </div>
        <div id="sortBy">
            <!--<p>Sort By:</p>-->
            <select id="itemSort" ng-model="order" class="form-control">
                <option value="price" selected="selected">Price (Low to High)</option>
                <option value="-price">Price (High to Low)</option>
                <option value="-added">Date Added (Newest First)</option>
                <option value="added">Date Added (Oldest First)</option>
            </select>
        </div>

    </div>
    <div class="row" id="itemGrid">
        <div class="row">
            <div class="col-md-4 col-sm-6 for-sale-item" ng-repeat="item in items | orderBy: order | limitTo: itemsPerPage : itemsPerPage*(displayPage-1)">
                <img ng-src="{{item.url}}" height="150" width="auto">
                <h3>{{item.name}}</h3>
                <h4>{{item.price | currency:$}}</h4>
                <button class="btn info-button" ng-click="open(item)">Get Info</button>
            </div>
        </div>
    </div>
    <div class="row" id="pagination">
        <uib-pagination total-items="items.length" ng-model="displayPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
    </div>

</div>