<!--FILTER SIDEBAR-->
<div id="sidebarFilter" class="col-md-3 col-sm-4 sidebar">
    <h1 id="sidebarFilterHeader">Filter Items</h1>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Gender <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <input type="checkbox" value="Male" ng-model="itemFilter.gender['Male']"> Male
            <input type="checkbox" value="Female" ng-model="itemFilter.gender['Female']"> Female
            <input type="checkbox" value="Neither/Unisex" ng-model="itemFilter.gender['Neither/Unisex']"> Neither/Unisex
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Condition <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <input type="checkbox" value="Like New" ng-model="itemFilter.condition['Like New']"> Like New
            <input type="checkbox" value="Good" ng-model="itemFilter.condition['Good']"> Good
            <input type="checkbox" value="Well Worn" ng-model="itemFilter.condition['Well Worn']"> Well Worn
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Type <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <uib-accordion ng-repeat="category in types">
                <uib-accordion-group  is-open="child.open">
                    <uib-accordion-heading>
                        {{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': child.open, 'glyphicon-chevron-right': !child.open}"></i>
                    </uib-accordion-heading>
                    <div ng-repeat="field in category.list">
                        <input type="checkbox" name="{{field}}" value="{{field}}" ng-model="itemFilter.type[field]"> {{field}}
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                Size <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <uib-accordion ng-repeat="category in sizes">
                <uib-accordion-group is-open="child.open">
                    <uib-accordion-heading>
                        {{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': child.open, 'glyphicon-chevron-right': !child.open}"></i>
                    </uib-accordion-heading>
                    <div ng-repeat="field in category.list">
                        <input type="checkbox" name="{{field}}" value="{{field}}" ng-model="itemFilter.size[field]"> {{field}}
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>
    <div id="filterButton" class="btn info-button" ng-click="logFilter()">Log Filters</div>
</div>

<div id="boxContainer" class=" col-md-9 col-sm-8">
    <select id="itemSort" ng-model="order">
        <option value="price">Price (Low to High)</option>
        <option value="-price">Price (High to Low)</option>
        <option value="added">Date Added (Newest First)</option>
        <option value="-added">Date Added (Oldest First)</option>
    </select>
    <div>{{order}}</div>
    <div class="col-md-4 col-sm-6 for-sale-item" ng-repeat="item in items | orderBy: order">
        <img ng-src="{{item.url}}" height="150" width="auto">
        <h3>{{item.name}}</h3>
        <h4>{{item.price | currency:$}}</h4>
        <button class="btn info-button" ng-click="open(item)">Get Info</button>
    </div>
</div>